

.portfolio-item {
	position: relative;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}


.project-info {
	background: transparent;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 20px;
	transition: ease-in-out all .90s;
}



.project-info:hover {
	background: linear-gradient(rgba(0, 0, 0, 0.5) 0%, #191919);
}


.project-info:hover svg {
	opacity: 1;	
}



.project-info svg:hover {
	transform: scale(1.1) translateX(-50%);
}

